body {
    background-color:  #e6f2ff;
    opacity: 0.9;
}


h1 {
    color: #1E90FF;
    text-transform: uppercase;
}

image.center {
    margin: auto;
}

h2.subtitle {
    color: #800000;
    font-variant-caps: all-petite-caps; 
}

h2.details {
    color: white;
    font-variant: small-caps;
    background-color: #2980b9;
    width: 750px;
}

h3.new {
    font-variant: small-caps;
    background-color: #2980b9;
    color: white;
    width: 600px;
    
}

h3.title {
    color: #00003E;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

label.new {
    color: #00008B;
    font-style: italic;
}

p.description {
    width: 750px;
}

p.footer {
    font-weight: bold;
}

button.submit {
  background-color: #000080;
  border: none;
  font-family: "Times New Roman";
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

h3.edit {
    font-variant: small-caps;
    color: #006400;
}

label.edit {
    color: #006400;
    font-style: italic;
}

button.edit {
    background-color: #039be5;
    border: none;
    color: white;
    font-family: "Times New Roman";
}

input.edit {
    background-color: #2e8b57;
    border: none;
    font-family: "Times New Roman";
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
